@model RestaurantSystem.Web.ViewModels.RecipeSteps.RecipeStepViewModel

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<form method="post" action="/RecipeSteps/DeleteRecipeStep">
    <div class="container" style="width: 80%;">
        
        <input type="text" id="itemName" name="itemName" class="form-control" value="@Model.ItemName" hidden/>

        <input id="Id" name="id" class="form-control" value="@Model.Id" hidden/>
        <br />
        <button type="submit" class="form-control">Delete</button>
    </div>
</form>


