@model RestaurantSystem.Web.ViewModels.Ingredients.IngredientViewModel


<form method="post" action="/Ingredients/AddIngredient">
    <div class="container" style="width: 18rem;">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Name">Ingredient name:</label>
        <input asp-for="Name" type="text" id="name" name="name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Quantity">Quantity:</label>
        <input asp-for="Quantity" class="form-control" name="quantity" value="1" min="1" />
        <span asp-validation-for="Quantity" class="text-danger"></span>

        <label for="itemName">Name:</label>
        <input type="text" id="itemName" name="itemName" class="form-control" value="@Model.ItemName" hidden/>
        <br />
        <button type="submit" class="form-control">Submit</button>
    </div>
</form>
