@model RestaurantSystem.Web.ViewModels.Ingredients.IngredientViewModel

<form method="post" action="/Ingredients/EditIngredient">
    <div class="container" style="width: 18rem;">
        <label for="name">Ingredient name:</label>
        <input type="text" id="name" name="name" class="form-control" value="@Model.Name"/>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" class="form-control" value="@Model.Quantity" />

        <label for="itemName">Name:</label>
        <input type="hidden" id="itemName" name="itemName" class="form-control" value="@Model.ItemName" />

        <label for="id">Name:</label>
        <input type="hidden" id="Id" name="id" class="form-control" value="@Model.Id" />
        <br />
        <button type="submit" class="form-control">Edit</button>
    </div>
</form>

