@model RestaurantSystem.Web.ViewModels.Discounts.DiscountViewModel

<form method="post" action="/Discounts/ApplyDiscountCode">

    <label for="name">Discount code: </label>
    <input type="text" id="discountCode" name="discountCode" class="form-control" />

    <button type="submit" class="form-control">Check Code</button>

</form>
