<head>
    <meta charset="utf-8" />
    <title>Restaurant order test</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="/CSS/style.css" href="style.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-md-5">
                <img height="200" src="coffee-logo.jpg" alt="logo" />
            </div>
        </header>
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <label htmlFor="product">Your check is</label>
                    <input type="text"
                           id="netAmount"
                           class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button id="submit" type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
                <div class="col-md-6">
                    <div id="status"></div>
                </div>
            </div>
        </form>
    </div>
    <script src="lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="site.js"></script>
</body>
